.vs/
Business/bin/
Business/obj/
Common/bin/
Common/obj/
Data/bin/
Data/obj/
Entity/bin/
Entity/obj/
WebSite/bin/
WebSite/obj/
Model/bin/
Model/obj/
packages/
*.user
*.pubxml
WebSite/OAWeb.csproj.user
WebSite/Upload/
WebSite/Preview/
