
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
</head>
<body>
    <div id="App">
     
    </div>
</body>
</html>
<script>
    var $vue= new Vue({
        el: "#App",
        data: {
         
        },
        methods: {
        }
    })
</script>
